# ==========================
# C / Native build artifacts
# ==========================

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ==========================
# Java / JVM artifacts
# ==========================

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Log files
*.log

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
*.iml
.idea/
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/

# Maven
target/
.mvn/

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Other
.DS_Store

.fake